
@font-face {
  font-family: 'Sarabun';
  src: url('../fonts/Sarabun-Regular.woff2') format('woff2'),
       url('../fonts/Sarabun-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun';
  src: url('../fonts/Sarabun-Bold.woff2') format('woff2'),
       url('../fonts/Sarabun-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun';
  src: url('../fonts/Sarabun-Italic.woff2') format('woff2'),
       url('../fonts/Sarabun-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
